* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
	width: 100%;
}

.card-container { 
	height: 260px;
	margin: 0 auto;
	max-width: 500px;
	perspective: 800px;
	position: relative;
	width: 100%;
}

.card {
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform .8s;
	width: 100%;
}

.card__toggle {
	display: none;
}

.card__toggle:checked ~ .card {
	transform: rotateY( 180deg );
}

.card__side {
	backface-visibility: hidden;
	box-shadow: 1px 1px 20px #333;
	cursor: pointer;
	display: block;
	height: 100%;
	margin: 0;
	position: absolute;
	transition: transform .3s;
	width: 100%;
}

.card__side--front {
    background: radial-gradient(#4686e6, #5473a2);
}

.card__side--front:hover {
	transform: rotateY(10deg);
}

.card__side--back {
	background-image: url('images/bg-card.jpg');
	background-position: top center;
	background-size: cover;
	transform: rotateY( 180deg );
}

.card__side--back:hover {
	transform: rotateY( 170deg );
}

.contact {
	box-sizing: border-box;
	color: #fff;
	display: block;
	height: 100%;
	position: relative;
	text-align: left;
	width: 100%;
}

.contact__head {
	left: 0;
	padding: 1rem;
	position: absolute;
	top: 0;
}

.contact__name {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 0 .3rem 0;
}


.contact__footer {
	backface-visibility: hidden;		
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	left: 0;
	padding: 1rem;
	position: absolute;
	text-align: center;
	width: 100%;
  	-webkit-backface-visibility: hidden;
}

.contact__social {
	backface-visibility: hidden;	
	left: 0;
	padding: 1rem;
	position: absolute;
	top: 50%;
	transform: translate3d(0,-50%,0);
	width: 100%;
  	-webkit-backface-visibility: hidden;
}

.contact__email {
	color: #fff;
	text-decoration: none;
}

.contact__arrow {
	animation: arrow-attention .4s infinite alternate;
	font-size: 20px;
}

@keyframes arrow-attention {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(10px);
	}
}

.social {
	text-align: center;
}
.social__item {
	display: inline-block;
}

.social__link {
	background-color: #ccc;
	border-radius: 100%;
	box-shadow: 0px 0px 10px #000;
	color: #fff;
	font-size: 26px;
	height: 60px;
	line-height: 60px;
	margin-right: 1rem;
	text-align: center;
	text-decoration: none;
	transition: transform .5s;
	width: 60px;
}

.social__link:hover {
	transform: rotateZ(360deg);
}

.social__link--facebook {
	background-color: #3B5998;
}

.social__link--instagram {
	background-color: #BA166F;
}

.social__link--github {
	background-color: #333;
}

.social__link--linkedin {
	background-color: #0077B5;
}